.explore-btn:before {
    content: '';
    background: linear-gradient(to left, rgba(249, 247, 247, 0), rgb(218, 213, 213));
    position: absolute;
    top: -37px;
    left:-35px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(120% + 16px);
    height: calc(120% + 16px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 50%;
}

.explore-btn:active {
    color: #000;
}

.explore-btn:active:after {
    background: transparent;
}

.explore-btn:hover:before {
    opacity: 1;
}

.explore-btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    left: 0;
    top: 0;
    border-radius: 50%;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


@media only screen and (width: 414px) {
    .explore-btn:before {
        top: -24px;
        left:-24px;
    }
}

@media only screen and (width: 412px) {
    .explore-btn:before {
        top: -24px;
        left:-24px;
    }
}

/* Pixel 5 */
@media only screen and (width: 393px) {
    .explore-btn:before {
        top: -24px;
        left:-24px;
    }
}

/* iPhone 12 Pro */
@media only screen and (width: 390px) {
    .explore-btn:before {
        top: -24px;
        left:-24px;
    }
}

@media only screen and (width: 375px) {
    .explore-btn:before {
        top: -24px;
        left:-21px;
    }
}

@media only screen and (width: 360px) {
    .explore-btn:before {
        top: -24px;
        left:-24px;
    }
}