.btn-hover {
    position: absolute;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s;
    background-color: #FFFFFF;
    width: 450px;
    height: 450px;
    left: 914px;
    top: 490px;
    border-radius: 50%;
    opacity: 0;
    /* z-index: 1; */
}

@media only screen and (max-width: 1440px) {
    .btn-hover {
        width: 350px;
        height: 350px;
        left: 223px; 
        top: 637px;
    }
}

/* surfacePro7 */
@media only screen and (width: 912px) {
    .btn-hover {
        width: 350px;
        height: 350px;
        left: 280px; 
        top: 890px;
    }
}

/* iPad Air */
@media only screen and (width: 820px) {
    .btn-hover {
        width: 350px;
        height: 350px;
        left: 235px; 
        top: 740px;
    }
}

/* iPadMini */
@media only screen and (max-width: 768px) {
    .btn-hover {
        width: 250px;
        height: 250px;
        left: 64px; 
        top: 430px;
    }
}

@media only screen and (width: 414px) {
    .btn-hover {
        width: 250px;
        height: 250px;
        left: 82px; 
        top: 624px;
    }
}

/* Pixel 5 */
@media only screen and (width: 393px) {
    .btn-hover {
        width: 200px;
        height: 200px;
        left: 96px; 
        top: 605px;
    }
}

/* iPhone 12 Pro */
@media only screen and (width: 390px) {
    .btn-hover {
        width: 200px;
        height: 200px;
        left: 95px; 
        top: 605px;
    }
}

@media only screen and (width: 375px) {
    .btn-hover {
        width: 200px;
        height: 200px;
        left: 87px; 
        top: 465px;
    }
}

/* .btn-container {
    z-index: 2;
} */

.btn-container:hover > .btn-hover {
    /* z-index: 1; */
    opacity: 0.1;
    transition: 0.1s;
}

.explore-btn:hover {
    opacity: 1;
    /* z-index: 2; */
}