
/* 
@media only screen and (width: 1140px) {
    img {
        background: url('../../../assets/technology/image-launch-vehicle-landscape.jpg')
    }
} */
/* 
.image {
    position: absolute;
    width: '515px';
    height: '527px';
    left: '600px';
    bottom: '-90px';
} */